# Day 26

###### List Comprehension

In [1]:
# The long way
numbers = [1,2,3]
new_list = []
for i in numbers:
    new_list.append(i*2)
print(new_list)

[2, 4, 6]

**Syntax**
```python
new_list = [new_item for item in list]
```
- Can also be applied for Python Sequences like *string, list, range, tuple*

In [2]:
# Using list comprehension
numbers = [1,2,3]
new_list = [num*2 for num in numbers]
print(new_list)

[2, 4, 6]

In [3]:
name = 'Arnold'
letter_list = [letter for letter in name]
print(letter_list)

['A', 'r', 'n', 'o', 'l', 'd']

In [4]:
number_range = range(1,6)
doubled = [num*2 for num in number_range]
print(doubled)

[2, 4, 6, 8, 10]

###### Conditional List Comprehension

```python
new_list = [new_item for item in list if test]
```

In [10]:
names = ['Freddie','Rock','Isabella','John']
short_names = [name for name in names if len(name)<5]
short_names

['Rock', 'John']

In [14]:
names = ['Freddie','Rock','Isabella','John']
short_names = [name.upper() for name in names if len(name)>5]
short_names

['FREDDIE', 'ISABELLA']

In [15]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [16]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
result = [num for num in numbers if num%2==0]
print(result)

[2, 8, 34]

---

###### Dictionary Comprehension

- Similarly applied for Python Sequences like *string, list, range, tuple*
```python
new_dict = {new_key:new_value for item in list if test}
new_dict = {new_key:new_value for (key,value) in dict.items() if test}
```
- *.item()* returns array of key-value pairs

In [2]:
dict = {'key1' : 'a', 'key2' : 'b'}
dict

{'key1': 'a', 'key2': 'b'}

In [21]:
# Using List
import random
names = ['Freddie','Rock','Isabella','John']
new_dict = {name:random.randint(1,10) for name in names}
new_dict

{'Freddie': 2, 'Rock': 7, 'Isabella': 8, 'John': 8}

In [22]:
# Using Dictionary
pass_dict = {key:value for (key,value) in new_dict.items() if value >5}
pass_dict

{'Rock': 7, 'Isabella': 8, 'John': 8}

---

###### Interactive Coding Exercise

In [24]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
result = {word:len(word) for word in sentence.split(' ')}
print(result)

{'What': 4, 'is': 2, 'the': 3, 'Airspeed': 8, 'Velocity': 8, 'of': 2, 'an': 2, 'Unladen': 7, 'Swallow?': 8}

In [28]:
weather_c = {
    "Monday": 12,
    "Tuesday": 14,
    "Wednesday": 15,
    "Thursday": 14,
    "Friday": 21,
    "Saturday": 22,
    "Sunday": 24,
}
weather_f = {day:(temp_c * 9/5 + 32) for (day,temp_c) in weather_c.items()}
print(weather_f)

{'Monday': 53.6, 'Tuesday': 57.2, 'Wednesday': 59.0, 'Thursday': 57.2, 'Friday': 69.8, 'Saturday': 71.6, 'Sunday': 75.2}

###### Iterate over pandas dataframe

In [30]:
# Looping through dictionaries
student_dict = {
    'student' : ['Freddie','Rock','Isabella','John'],
    'score' : [4,6,2,3]
}
for (key,value) in student_dict.items():
    print(key)
    print(value)

student
['Freddie', 'Rock', 'Isabella', 'John']
score
[4, 6, 2, 3]

In [33]:
import pandas as pd
student_df = pd.DataFrame(student_dict)
student_df

    student  score
0   Freddie      4
1      Rock      6
2  Isabella      2
3      John      3

In [37]:
# Looping through a dataframe
for (key,value) in student_df.items():
    print(key)
    print(value)

student
0     Freddie
1        Rock
2    Isabella
3        John
Name: student, dtype: object
score
0    4
1    6
2    2
3    3
Name: score, dtype: int64

- Pandas provide in-built loop *.iterrows()*
- Returns pandas series object

In [43]:
# Looping through rows of dataframe
for (index, row) in student_df.iterrows():
#     print(index)
#     print(row)
    print(row.student)
    print(row.score)

Freddie
4
Rock
6
Isabella
2
John
3

---