# Day 25

###### Working with CSV data & pandas library

- Two primary data structures of pandas  
    - Dataframe (2d)
    - Series (1d)

In [32]:
import pandas as pd

data = pd.read_csv('weather_data.csv')
print(data['temp'])

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [3]:
# Converting to dictionary
data_dict = data.to_dict()
print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [18]:
# Converting to list
temp_list = data['temp'].to_list()
avg_temp = sum(temp_list)/len(temp_list)

# Average temperature
print(data['temp'].mean())

# Max temperature
print(data['temp'].max())

17.428571428571427
24

In [23]:
# Get data in columns
print(data['condition'])
print(data.condition)

# Get data in rows
print(data[data['day']=='Monday'])

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object
      day  temp condition
0  Monday    12     Sunny

In [34]:
# Max temp row
print(data[data['temp'] == data['temp'].max()])

      day  temp condition
6  Sunday    24     Sunny

In [38]:
# Create dataframe from scratch
data_dict = {
    'students' : ['Ram','Shyam','Baburao'],
    'roll' : [21,33,40]
}
df = pd.DataFrame(data_dict)
df
# Save as new csv
df.to_csv('filename.csv')

---

###### The Great Squirrel Data Analysis

In [40]:
df = pd.read_csv('2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')
df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [57]:
# squirrel_count
grey_squirrel_count = len(df[df['Primary Fur Color']=='Gray'])
print(grey_squirrel_count)
cinnamon_squirrel_count = len(df[df['Primary Fur Color']=='Cinnamon'])
print(cinnamon_squirrel_count)
black_squirrel_count = len(df[df['Primary Fur Color']=='Black'])
print(black_squirrel_count)

2473
392
103

---